@model IEnumerable<ead_Mini_project_3.ViewModels.GenreGroup>
  

@{
    ViewBag.Title = "Number of bands per genre";
}

<h2>Number of bands per genre</h2>

<table>
    <tr>
        <th>
            Genres
        </th>
        <th>
            Number of bands
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genres)
            </td>
            <td>
                @item.BandCount
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
